
	
	<!-- Start Services -->
	<div id="services" class="services-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>All Lab Test Package</h2>
					</div>
				</div>
			</div>
			
			<div class="row">
    <div class="col-lg-12 margin-tb">
       
        <div class="pull-right" style="padding-top:30px; padding-bottom: 30px; width: 100%">
            <div class="box-tools" style="">
              <div class="input-group">
                  <input type="text" class="form-control input-sm ng-valid ng-dirty" placeholder="Search Lab test" ng-change="searchDB()" ng-model="searchText" name="table_search" title="" tooltip="" data-original-title="Min character length is 3">
                  <span class="input-group-addon">Search</span>
              </div>
            </div>
        </div>
    </div>
</div>


			<div class="row">
				<div class="col-lg-3" ng-repeat="rec in itemAll">
					
							
						<div class="item" style="height: 350px;">
							
							<div class="serviceBox">
								<div class="service-icon"><i class="fa fa-h-square" aria-hidden="true"></i></div>
								<h3 class="title" >{{rec.Item.itemName}}</h3>
								<p class="description">
									{{rec.Item.itemId}} 
								</p>
								<p>Price Rs: {{rec.Item.minPrice}}</p>
								<button style="background-color: green;" type="button" id="divid-{{rec.Item.itemId}}" ng-click="addTocart(rec);" class="new-btn-d br-2">Add To Cart </button>
							</div>
						</div>
						
					
				</div>
			</div>			
		</div>
	</div>
	<!-- End Services -->
	