
	
	<!-- Start Services -->
	<div id="services" class="services-box">
		<div class="col-md-6 col-md-offset-3">
      <p style="text-align: center;"><strong>Login</strong></p>
      
        <form method="POST" name="addItem" role="form" ng-submit="saveAdd()">
        <div class="col-md-12">
          <div class="form-group">
            <input type="email" class="form-control" ng-model="form.username" placeholder="Email" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control"  ng-model="form.password" placeholder="password" required=""/>
          </div>

          <div class="form-group">
            <button type="submit" ng-disabled="addItem.$invalid" class="btn btn-primary">Submit</button>
            <span class="text-danger" style="color:red">{{ error }}</span>
          </div>

        </div>
      </form>
</div>
		</div>
	</div>
	<!-- End Services -->
	